* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
.header {
  text-align: center;
  height: 80px;
}
.header img {
  width: 120px;
}
#allPhone {
  width: 80%;
  margin: auto;
  text-align: center;
}
#allPhone img {
  display: flex;
  margin-top: 20px;
  margin: auto;
}
#detailsContainer {
  width: 80%;
  margin: auto;
  text-align: center;
  align-items: center;
}
#allPhone img {
  display: flex;
  margin-top: 20px;
  margin: auto;
}
