* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}
.header {
  text-align: center;
  height: 80px;
}
.header img {
  width: 300px;
  margin: 10px;
}
#allPhone {
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
#allPhone img {
  display: flex;
  margin-top: 20px;
  margin: auto;
}
#detailsContainer {
  width: 90%;
  margin: auto;
  text-align: center;
  align-items: center;
}
#allPhone img {
  display: flex;
  margin-top: 20px;
  margin: auto;
}
/* meadia queries */
@media only screen and (max-width: 600px) {
  #allPhone {
    width: 85%;
    margin: auto;
    text-align: center;
    justify-content: center;
  }
}
